@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
$bg-img: url("../Images/dogBanner.png");
@mixin imageStyle {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: fill;
    background-blend-mode: darken;
    border-radius: 18px;
}

.form-template {
    background-color: #cecdeb;
    margin: auto;
    padding: 2%;
    border-radius: 3%;
    .signuplogin-click {
        margin: 30px;
        margin-top: 70px;
        &:hover {
            cursor: pointer;
        }
    }
    .form-title {
        width: 300px;
        height: 100px;
        background-size: cover;
        background-image: $bg-img;
        @include imageStyle();
        text-align: center;
        display: flex;
        p {
            font-size: 24px;
            font-weight: 700;
            margin-left: 50px;
            margin-top: 35px;
            color: white;
        }
    }
    .form-field {
        padding: 20px 0px;
        position: relative;
        .form-input {
            border: none;
            border-bottom: 2px solid #d1d1d4;
            background: none;
            padding: 10px;
            padding-left: 24px;
            font-weight: 700;
            width: 75%;
            transition: 0.2s;
            &:active,
            &:focus,
            &:hover {
                outline: none;
                border-bottom-color: #6a679e;
            }
        }
    }
    .form-submit {
        background: #fff;
        font-size: 14px;
        margin-top: 30px;
        padding: 16px 20px;
        border-radius: 26px;
        border: 1px solid #d4d3e8;
        text-transform: uppercase;
        font-weight: 700;
        display: flex;
        align-items: center;
        width: 100%;
        color: #4c489d;
        box-shadow: 0px 2px 2px #5c5696;
        cursor: pointer;
        transition: 0.2s;

        &:active,
        &:focus,
        &:hover {
            outline: none;
            border-bottom-color: #6a679e;
        }
    }
}
