.order-a-walk-page{
    border-radius: 5px;
    background-color: rgb(205, 159, 238);
    h2{
        color: antiquewhite;
    }
    .dogs-list{
        display: flex;
    }
    .form-template{
        margin-top: 20px;
        margin-bottom: 30px;
        max-width: 40%;
        height: fit-content;
        background-color: rgb(175, 77, 240);
        box-shadow: 1px 1px;
    }
}